<footer class="footer bg-light">
  <p class="footer-copyright">Copyright &copy; 2021 Lighthouse Labs Students</p>
  <p class="footer-authors">Built with ♥️ by <a href="https://github.com/tarikyavuzca" target="blank">Yavuz</a>, <a href="https://github.com/emikeke" target="blank">Emily</a> and <a href="https://github.com/eileenxue" target="blank">Eileen</a></p>
</footer>
