<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome to Foodle</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
    <div class="fullscreen">
      <video loop muted autoplay poster="" class="fullscreen-video">
        <source src="../assets/pexels-eating-video.mp4" type="video/mp4">
        <!-- add .ogv and .webm to cover all compatible devices  -->
      </video>
    </div>
    <div class="index-content text-center">
      <h1>Foodle 🍜</h1>
      <h2>Find the perfect time to eat with your friends!</h2>
      <a href="/create" class="btn btn-light mt-3">Create Event</a>
    </div>
</body>

</html>
