<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Options</title>
    <link rel="stylesheet" type="text/css" href="styles/options.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="css/evo-calendar.midnight-blue.css"/>-->
    <script type="module" src="scripts/app.js"></script>
  </head>

  <body>

    <!-- Add jQuery library (required) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <!-- Add the evo-calendar.js for.. obviously, functionality! -->
    <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>

    <header>
      <h1>Foodle</h1>
    </header>

    <nav>
    </nav>

    <main>
      <p>Would you like to have a deadline for this poll?<p>
      <p>Please select your availability in the calendar below:<p>
    </main>

    <div class="calendar-container">
      <div id="calendar"></div>
    </div>

    <footer>
    </footer>

  </body>
</html>
