<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Event Options</title>
    <link rel="stylesheet" href="options.css">

  </head>

  <body>
    <header>
      <h1>Foodle</h1>
    </header>

    <nav>
      <h2>Home</h2>
      <h2>F.A.Q</h2>
    </nav>

    <main>
      <p>Would you like to have a deadline for this poll?<p>
      <p>Please select your availability in the calendar below:<p>
    </main>

    <footer>
      <p>© Copyright 2021 by Eileen, Emily and Yavuz.</p>
    </footer>
  </body>
</html>
