.event-page{
  width: 100%;
}

.event-invite{
  background-color: aliceblue;
  padding: 2em;
  margin-bottom: 2em;

  p{
    font-weight: 600;
  }

  &-link{
    display: flex;
    align-items: center;

    & input{
      border-radius: 0;
    }
    & button{
      border-radius: 0;
    }
  }
  &-emoji{
    padding-right: 0.5em;
  }
}

.event-details{
  max-width: 600px;
  margin: 0 auto;
}

.event-label{
  font-weight: 600;
}

// List of Votes

.vote-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;

  &-title{
    font-size: 1.5em;
    font-weight: 600;
    padding-right: 1em;
  }
}




// Media Queries for Event Page
@media (min-width: 768px) {
  .event-page{
    width: 60vw;
  }

  .new-entry{
    display: flex;

    &-user{
      width: 100%;
      padding-right: 1em;
    }

    &-timeslots{
      width: 100%;
    }
  }
}
