html {
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-container {
  font-family: Arial, Helvetica, sans-serif;
}

.text-spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
